.DS_Store
.codex-backups/
.worktrees/
*.xcuserstate
*.xcuserdatad/
.build/
example-images/output/
example-images/gallery/
example-images/.gallery-staging/
example-images/.gallery-quarantine/
.serena/

# Binary image and creative media assets stay local. Keep text manifests such as
# Assets.xcassets/Contents.json tracked so project structure remains reproducible.
*.[pP][nN][gG]
*.[jJ][pP][gG]
*.[jJ][pP][eE][gG]
*.[gG][iI][fF]
*.[wW][eE][bB][pP]
*.[hH][eE][iI][cC]
*.[hH][eE][iI][fF]
*.[tT][iI][fF]
*.[tT][iI][fF][fF]
*.[bB][mM][pP]
*.[iI][cC][oO]
*.[sS][vV][gG]
*.[pP][dD][fF]
*.[pP][sS][dD]
*.[aA][iI]
*.[sS][kK][eE][tT][cC][hH]
*.[mM][oO][vV]
*.[mM][pP]4
*.[mM]4[vV]
*.[aA][vV][iI]
*.[mM][kK][vV]
*.[wW][eE][bB][mM]
*.[wW][aA][vV]
*.[mM][pP]3
*.[mM]4[aA]
*.[aA][aA][cC]
*.[fF][lL][aA][cC]
*.[tT][tT][fF]
*.[oO][tT][fF]
*.[wW][oO][fF][fF]
*.[wW][oO][fF][fF]2
*.[uU][sS][dD][zZ]
*.[uU][sS][dD]
*.[oO][bB][jJ]
*.[fF][bB][xX]
*.[dD][aA][eE]
*.[gG][lL][bB]
*.[gG][lL][tT][fF]
*.[cC][uU][bB][eE]
